@model SAT.UI.MVC.Models.ContactViewModel

<div>
    @if (Model != null)
    {
        <h2>Thaks for your message @Model.Name</h2>
        <p>We will respond to you at @Model.Email when conveniantly possible</p>
    }
</div>